@font-face {
    font-family: 'Belfast Grotesk';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/BelfastGrotesk-SemiBold.otf');
    src: local('BelfastGrotesk-SemiBold'),
    url('../fonts/BelfastGrotesk-SemiBold.otf');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceCodePro-Regular.ttf');
    src: local('SourceCodePro-Regular'),
    url('../fonts/SourceCodePro-Regular.ttf');
}

@font-face {
    font-family: 'Source Code Pro Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SourceCodePro-Bold.ttf');
    src: local('SourceCodePro-Bold'),
    url('../fonts/SourceCodePro-Bold.ttf');
}

body {
    /* background: #000; */
    background: #101010;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #fff;
    margin: 0;
    font-family: 'Belfast Grotesk', sans-serif;
}

h4 {
    font-family: 'Source Code Pro Bold', sans-serif;
}

h1, h2 {
    font-size: 4.375rem;
    line-height: 4.5rem;
}

h3 {
    font-size: 1.625rem;
    line-height: 1.8rem;
}

.home__project-title {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: 0.5rem;
}

.subtitle {
    margin: 2rem 0 1rem;
}

p {
    font-family: 'Source Code Pro', sans-serif;
    color: #EDEDED;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.nav-logo {
    width: 70px; 
    height: auto;
}

.links-row {
    display: flex;
    align-items: center;
}

.links-row li {
    margin-right: 3.75rem;
}

.nav li a {
    text-decoration: none;
    color: #fff;
}

.links-row li:last-child {
    margin-right: 0;
}

.nav li {
    color: #fff;
    font-family: 'Source Code Pro', sans-serif;
}

button {
    font-family: 'Source Code Pro Bold', sans-serif;
}

.button-primary {
    background: #FDCD05;
    border: 1px solid #FDCD05;
    padding: 1rem 1.375rem;
    margin-top: 2rem;
}

.nav,
.home__hero,
.home__work,
.home__about,
.home__stack,
.home__cta-wrapper,
.home__footer-wrapper,
.about__wrapper {
    max-width: 1102px;
    margin: 0 auto;
}

.home__hero {
   
    position: relative;
    height: auto;
    padding-bottom: 33%;
    padding-top: 6%;
}

.home__hero img {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 100%;
    max-width: 483px;
}

.home__hero .content {
    z-index: 2;
}

.home__hero h1 {
    width: 100%;
    max-width: 720px
}

.home__hero p {
    max-width: 540px;
}

.home__hero-vector {
    background: url('../assets/images/vector-1.svg') no-repeat;
    height: 184px;
    position: absolute;
    right: -100px;
    bottom: -120px;
    width: 169px;
}

.home__hero__row,
.home__about-row {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
}


/* #222222
#383838 */

.home__about-row .content {
    
}

.home__about-row {
    background: linear-gradient(#222222,#383838);
    padding: 50px 0 50px 50px;
}

.bracket {
    color: #FC91F2;
}

.home__work {
    padding: 20% 0;
}

.home__work-vector-1 {
    background: url('../assets/images/vector-3.svg') no-repeat;
    height: 189px;
    width: 211px;
    position: absolute;
    left: -70px;
    bottom: 60px;
}

.home__work-vector-2 {
    background: url('../assets/images/vector-2.svg') no-repeat;
    height: 189px;
    width: 211px;
    position: absolute;
    right: -130px;
    bottom: 100px;
}

.home__work-vector-3 {
    background: url('../assets/images/vector-4.svg') no-repeat;
    height: 189px;
    width: 211px;
    position: absolute;
    left: -70px;
    bottom: 60px;
}

.home__work h2 {
    text-align: center;
}

.home__project-left img,
.home__project-right img{
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 538px;
}

.home__project-left,
.home__project-right {
    display: flex;
    align-items: flex-end;
    max-width: 1087px;
    margin: 0 auto;
    position: relative;
}

.home__project-left {
    padding: 40px 0 150px;
}

.home__project-right {
    padding: 150px 0;
}

.home__project-left .content {
    margin-left: 3rem;
}

.home__project-right .content {
    margin-right: 3rem;
}


.home__stack {
    position: relative;
    /* display: flex;
    align-items: center; */
    /* margin: 150px auto; */
    width: 100%;
    padding-bottom: 28%;
    padding-top: 8%;
}

.home__about {
    margin-bottom: 150px;
    position: relative;
    padding-bottom: 30%;
}

.home__about p {
    width: 100%;
    max-width: 644px;
}

.home__about-vector {
    /* background: url('../assets/images/vector-5.svg') no-repeat;
    height: 189px;
    width: 211px;
    position: absolute;
    right: -130px;
    bottom: -60px; */
    display: none;
}

.home__about img {
    z-index: 1;
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 400px;
    bottom: 1px;
}

.home__about h2 {
    width: 100%;
    max-width: 785px;
}

.home__about .content {
    z-index: 2;
}

.home__stack .content {
    position: absolute;
    left: 34%;
    top: 20%;
}

.home__cta .content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__cta {
    position: relative;
}

.home__cta-wrapper {
    margin: 260px auto;
}

.home__cta h2 {
    text-align: center;
}

.home__cta-vector-1 {
    background: url('../assets/images/vector-6.svg') no-repeat;
    height: 189px;
    width: 112px;
    position: absolute;
    right: 0;
    top: -210px;
    /* bottom: 300px; */
}


.home__cta-vector-2 {
    background: url('../assets/images/vector-7.svg') no-repeat;
    height: 189px;
    width: 211px;
    position: absolute;
    left: -60px;
    bottom: 30px;
}

footer {
    background: #241F24;
}

.home__footer-wrapper {
    padding: 86px 0 115px;
    display: flex;
}

.home__footer-links {
    list-style-type: none;
    padding: 0;
}

.home__footer-links li {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
}

.home__footer-links li a {
    text-decoration: none;
    color: #fff;
}

footer h4 {
    color: #fff;
    margin: 0 0 1.4rem;
}

.home__footer-group:first-child {
    margin-right: 6rem;
}

/* Compassion Project page */
.cp__hero {
    position: relative;
    padding-bottom: 50%;
}

.cp__hero-row {
    display: flex;
    max-width: 1102px;
    margin: 0 auto;
}

.cp__hero img {
    position: absolute;
    right: 0;
    max-width: 553px;
    width: 100%;
}

.cp__hero .content {
    position: absolute;
    z-index: 1;
    padding-top: 14%;
}

.cp__hero p {
    max-width: 520px;
}

.source-bold {
    font-family: 'Source Code Pro Bold';
}

.cp__menu {
    position: sticky;
    height: auto;
}

.cp__menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cp__menu ul li {
    color: #fff;
    font-family: 'Source Code Pro';
}

.case-study__section {
    margin: 4.68rem 4.5rem 0;
}

.case-study__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1284px;
}

.case-study__info > div {
    margin-right: 3.75rem;
    margin-bottom: 3.75rem;
}

.swatches {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.swatches .swatch {
    width: 196px;
    height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.swatch .color {
    font-family: 'Source Code Pro Bold';
}

.swatch-black {
    border: 1px solid #fff;
}

.swatch-eerie-black {
    background: #222222;
}

.swatch-white {
    background: #fff;
}

.swatch-tekhelet {
    background: #522499;
}

.swatch-royal-purple {
    background: #7B4AB6;
}

.swatch-aero {
    background: #63BFE1;
}

.swatch-orange-web {
    background: #FFA72C;
}

.swatch-folly {
    background: #FF2E52;
}

.swatch-white p {
    color: #000;
}

.swatch-tart-orange {
    background: #FF4645;
}

.case-study-screen {
    margin: 2rem 0;
    width: 100%;
}

.case-study__pages {
    display: flex;
    justify-content: space-between;
    margin: 0 4.5rem
}

.case-study-link {
    color: #fff;
    font-family: 'Source Code Pro';
    border-bottom: 1px solid #fff;
    padding: .6rem 0;
    text-decoration: none;
}

.next {
    margin-left: 0.5rem;
}

.prev {
    transform: rotate(180deg);
    margin-right: 0.5rem;
}

.nav-mobile {
    display: none;
}

.vertical-slide__row {
    display: flex;
    align-items: center;
}



.verticle-slide img {
    margin-right: 0.5rem;
}

.vertical-slider .circle {
    width: 28px;
    height: 28px;
    min-width: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #101010;
}

.vertical-slider {
    display: grid;
  min-height: 180px;
  max-height: 447px;
  -webkit-mask-box-image: -webkit-linear-gradient(
    top, transparent, transparent 0, white 10%, white 80%, transparent 100%);
}

.vertical-slides {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.verticle-slide {
    border: 2px solid #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: 20px;
    background: #101010;
}



.vertical-slides .slide {
    position: absolute;
    display: grid;
    grid-template-columns: 95px 1fr;
    gap: 10px;
    padding: 1.5rem;
    opacity: 0;
    /* background: #fff; */
    /* max-width: 30rem; */
    border-radius: 0.5rem;
    pointer-events: none;
    animation: slideUp 15s 1;
    /* left: 40px; */
    left: -25px;
   
}

.vertical-slides .slide:nth-child(1) {
    animation-delay: -3s;
  }
   
  .vertical-slides .slide:nth-child(2) {
    animation-delay: 0s;
  }
   
  .vertical-slides .slide:nth-child(3) {
    animation-delay: 3s;
  }
   
  .vertical-slides .slide:nth-child(4) {
    animation-delay: 6s;
  }
   
  .vertical-slides .slide:nth-child(5) {
    animation-delay: 9s;
  }

  .vertical-slides .slide:nth-child(6) {
    animation-delay: 12s;
  }
   
  .vertical-slides .slide:nth-child(7) {
    animation-delay: 15s;
  }
   
  .vertical-slides .slide:nth-child(8) {
    animation-delay: 18s;
  }

  .vertical-slides .slide:nth-child(9) {
    animation-delay: 21s;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
    }
   
    5%,
    20% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
    }
   
    25%,
    40% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
   
    45%,
    60% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
    }

    65%,
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
  }
}

@keyframes slideUp2 {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
    }
   
    5%,
    20% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
    }
   
    25%,
    40% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
   
    45%,
    60% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
    }

    65%,
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
  }
}
   

.vertical-span {
    height: 300px;
    width: 2px;
    background: #fff;
    position: absolute;
    left: 15px;
    z-index: -1;
    top: 30px;
}

/* .slide-0 {
   transform: translateY(-100px);
   visibility: hidden;
}

.slide-1 {
    transform: translateY(0);
}

.slide-2 {
    transform: translateY(130px);

}

.slide-3 {
    transform: translateY(270px);

}

.slide-4 {
    transform: translateY(400px);
}

.slide-5 {
    transform: translateY(44%);
}

.slide-6 {
    transform: translateY(664px);

}

.slide-7 {
    transform: translateY(784px);
}

.slide-8 {
    transform: translateY(916px);
}

.slide-9 {
    transform: translateY(1038px);
    visibility: hidden;
} */

.home__form {
    position: relative;
    padding-bottom: 12%;
}

.home__form h2 {
    font-size: 64px;
}

.home__form .content {
    max-width: 718px;
    margin-right: 20px;
}

.home__form-row {
    display: flex;
    align-items: center;
    max-width: 1174px;
    margin: 0 auto;
}

.form-field-row {
    display: flex;
    justify-content: space-between;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form {
    width: 430px;
    max-width: 100%;
}

label {
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: #EDEDED;
    font-family: 'Source Code Pro', sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
    background: #2C2C2C;
    font-size: 1rem;
    padding: 12px 16px;
    border: transparent;
    color: #fff;
    font-family: 'Source Code Pro', sans-serif;
}

.home__form .button-primary {
    width: 100%;
}

.form-field-row .form-field {
    width: calc(50% - 10px)
}

@media (max-width: 499px) {
    h1, h2, .home__form h2 {
        font-size: 30px;
        line-height: 34px;
        text-align: center;
    }

    .home__project-title {
        font-size: 26px;
        line-height: 30px;
    }

    .home__project-left .home__project-title {
        margin-top: 2rem;
    }

    .home__project-right p {
        margin-bottom: 2rem;
    }

    p,
    .home__project-title {
        text-align: center;
    }

    .home__project-left, .home__project-right,
    .home__about-row,
    .swatches,
    .home__form-row {
        flex-wrap: wrap;
    }

    .cp__hero-row {
        flex-wrap: wrap-reverse;
    }

    .home__stack {
        padding-top: 28%;
    }

    .home__hero__row {
        flex-wrap: wrap-reverse;
        padding: 0 20px;
        width: auto;
    }

    .home__hero .content {
        margin-top: 2rem;
    }

    .home__hero img,
    .home__project-left img, .home__project-right img,
    .home__hero, .home__about-row{
        position: unset;
    }

    .nav {
        /* padding: 3rem 1.25rem; */
    }

    .home__hero {
        padding-bottom: 193%;
        padding-top:0;
    }

    .button-primary {
        width: 100%;
    }

    .home__hero-vector {
       display: none;
    }

    .home__about-vector {
        display: none;
    }

    .home__work-vector-2 {
        display: none;
    }

    .home__cta-wrapper {
        margin: 260px 20px
    }

    .home__project-right {
        padding: 150px 20px;
        /* width: 100%; */
    }

    .home__project-right .content {
        margin-right: 0;
    }

    .home__project-left {
        padding: 40px 20px 150px;
        /* width: 100%; */
    }

    .home__project-left .content {
        margin-left: 0;
    }

    .nav-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 20px;
        /* width: 100%; */
    }

    .nav-collapse {
        /* display: none; */
        height: 0;
        opacity: 0;
        transition: all 300ms ease;
    }

    .nav-collapse--open {
        display: flex;
        opacity: 1;
        height: 100%;
        transition: all 300ms ease;
    }

    .home__footer-wrapper {
        padding: 60px 20px 115px
    }

    .hamburger {
        width: 42px;
        height: 42px;
        border: 1px solid #484848;
        border-radius: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburger .burger-line {
        height: 1px;
        background: #fff;
        width: 25px;
        margin-bottom: 8px;
    }

    .hamburger .burger-line:last-child {
        margin-bottom: 0;
    }

    .home__work-vector-1 {
        bottom: -50px;
    }

    .home__about img {
        position: unset;
        margin-top: 2rem;
    }

    .home__about-row {
        width: auto;
        padding: 0 20px;
    }

    .home__stack .content {
        margin-left: 0;
    }

    .home__cta-vector-2 {
        /* bottom: -250px; */
        display: none;
    }

    .home__cta-vector-1 {
        bottom: 200px;
    }

    .home__about {
        margin-bottom: 0;
        padding-bottom: 10%;
    }

    .home__footer-group:first-child {
        margin-right: 3rem;
    }

    .logo-desktop {
        display: none;
    }

    .links-row {
        flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    }

    .links-row li {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .nav {
        flex-direction: column;
        align-items: flex-end;
    }

    .swatches {
        flex-wrap: wrap;
    }

    .cp__hero .content,
    .cp__hero img {
        position: unset;
    }

    .cp__hero .content {
        padding: 14% 20px;
    }

    .cp__hero {
        padding-bottom: 10%;
    }

    .case-study__section {
        margin: 2rem 1rem;
    }

    .case-study__section h2,
    .case-study__section p {
        text-align: left;
    }

    .swatches .swatch {
        width: 148px;
        height: 148px;
        margin: 0 0.5rem 0.5rem 0;
    }

    .about__wrapper h1,
    .about__wrapper p {
        text-align: left;
    }

    .home__about-row {
        padding: 40px 20px 0;
    }

    .home__form {
        position: unset;
        padding: 0 20px 50px;
    }

    .home__stack .content {
        top: 6%;
    }

    

    .home__form p {
        margin-bottom: 1rem;
    }

    .home__form .content {
        margin-right: 0;
    }

}





